.root_div{
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}

.another{
  /* background-color: green; */
  width: fit-content;
  height: fit-content;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.link:hover {
  color: white;
}




@media (max-width: 725px) {

    .tohide{
      display: none;
    }
  .another{
    margin: 17rem 0rem 2rem 0rem;
  }
}